main{
  display: flex;
  align-items: center;
  justify-content: center;
  .background-img{
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    figure{
      width: 100%;
      height: max-content;
      height: auto;
      content: url("https://i.imgur.com/VwSVNHh.jpeg");
    }
  }
  .license-card-section{
    position: absolute;
    width: min-content;
    height: auto;
  }
}

@media only screen and (max-width:874px){
  main{
    .background-img{
      figure{
        width: auto;
      }
    }

    .license-card-section{

    }
  }
}
