<main>
  <div class="background-img">
    <figure></figure>
  </div>
  <section class="license-card-section">
    <section class="license-container">
      <div class="select-license">
        <ul>
          <li *ngFor="let item of routes" [ngClass]="item.selected?'selected':'none'" (click)="checkRoute(item.name)" [routerLink]="item.route">{{item.name}}</li>
        </ul>
      </div>
    <div class="license-card">
      <router-outlet></router-outlet>
    </div>
    </section>
    <section class="save">
      <a class="save-license">Descargar</a>
    </section>
  </section>
</main>
