$default-license-text-color:#8A5454;
$light-text-color:#FFF8F8;
$blue-component-color:#12253C;
$button-color:#296399;
$button-hover-color:#23527e;
%input-style{
  font-family: inherit;
  border: 0;
  outline: 0;
  background: transparent;
}

%basic-license-design{
  width: 40rem;
  height: 21.875rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;

  input,textarea{
    @extend %input-style;
    color:$default-license-text-color;
    font-size: 1.1rem;
  }
}
