@import "../../variables";
.default-license{
  width: 40rem;
  height: 21.875rem;
  background-image: url("../../../assets/licenses/default.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  span{
    color:$default-license-text-color;
    font-weight:700;
    font-size: 1.1rem;
  }
  input,textarea{
    @extend %input-style;
    color:$default-license-text-color;
    font-size: 1.1rem;
  }
  .tittle{
    font-size: 3rem;
    text-align: center;
    margin: 1.8rem 0;
  }
  /**/
  .content-details{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .img-container{
      img{
        width: 9.375rem;
        height: 10.625rem;
        object-fit: cover;
        object-position: center;
        border-radius: .75rem;
      }
      position: relative;
      .input-container{
        position: absolute;
        left: -25px;
        display: flex;
        align-items: center;
        padding: 0;
        border-radius: 1.5rem;
        background-color: $blue-component-color;
        overflow: hidden;
        width: 0;
        transition: all 1s;

        span{
          font-size: .875rem;
          min-width: fit-content;
          color: $light-text-color;
        }
        .input-img-url{
          font-size: .875rem;
          text-align: left;
          width: 100%;
          color: $light-text-color;
        }

      }
      &:hover{
        .input-container{
          width: 180%;
          padding: .2125rem .625rem;
        }
      }
    }
    .details-container{
      height: 70%;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      .note{
        position: relative;
        textarea{
          resize: none;
          overflow: hidden;
          padding: 0;
          margin-left: 2.8rem;
          width: 80%;
        }
        span{
          position: absolute;
          top: .1870rem;
        }
      }
    }
  }
}
