<form class="default-license">
  <input type="text" name="title" spellcheck="false" value="LICENCIA DE OTAKU" class="tittle">
  <div class="content-details">
    <div class="img-container">
      <img src="https://i.imgur.com/HXY3V2U.jpeg" alt="">
    </div>
    <div class="details-container">
      <div class="name">
        <span>Nombre:</span>
        <input spellcheck="false" type="text" name="name" [(ngModel)]="name">
      </div>
      <div class="expedition">
        <span>Fecha de expedición:</span>
        <input spellcheck="false" type="date" name="expedition" [(ngModel)] = "date" placeholder="dd-mm-yyyy" value=""
        min="1997-01-01" max="2030-12-31">
      </div>
      <div class="note">
        <span>Nota:</span>
        <textarea spellcheck="false" type="text" name="note" [(ngModel)] = "note"></textarea>
      </div>
    </div>
  </div>
</form>
