<form class="default-license">
  <input type="text" name="title" spellcheck="false" value="LICENCIA DE OTAKU" class="tittle">
  <div class="content-details">
    <div class="img-container">
      <img src="https://i.imgur.com/HXY3V2U.jpeg" alt="">
    </div>
    <div class="details-container">
      <div class="name">
        <span>Nombre:</span>
        <input spellcheck="false" type="text" name="name" id="">
      </div>
      <div class="expedition">
        <span>Fecha de expedición:</span>
        <input spellcheck="false" type="date" name="expedition" id="">
      </div>
      <div class="note">
        <span>Nota:</span>
        <textarea spellcheck="false" type="text" name="note" id=""></textarea>
      </div>
    </div>
  </div>
</form>
